
<ul class="group-category">
    @foreach (var item in ViewBag.NameCategory)
    {
        <li class="item">
            <a href="@Url.Action("Index","Courses",new { courseid = item.Key})">
                @item.Value
            </a>
        </li>
    }
    </ul>

